.CreateUserForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 15px auto;
  width: 30%;
  min-width: 250px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  max-width: 125px;
}
button {
  border-radius: 10px;
}
button:hover {
  background-color: #6f8198;
  color: white;
}
a.active {
  background-color: #6f8198;
  color: white;
  text-decoration: none;
}
a {
  padding: 10px;
  color: #6f8198;
  text-decoration: none;
}
#msg {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #58585b;
  text-decoration: none;
}
li {
  float: left;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #6f8198;
  text-decoration: none;
}
