.header {
    background-color: #27231F;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid black 1px;
    border-radius: 15px;
}

.header img {
    height: 100px;
    width: 100px;
}

#login-box {
    background-color: #6F8198;
    padding: 10px
}
#cart-header {
    padding: 50px
}

#titleHeader {

}
