.product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid black 1px;
    border-radius: 15px;
}
.product-card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.landing-body {
    width: 200px;
    height: 75vh;
    border: solid black 1px;
    border-radius: 10px;
}

/* height should be removed eventually */
.landing-body {
    flex-grow: 1;
    height: 75vh;
    border: solid black 1px;
    border-radius: 10px;
}
